{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block body %}
	<div class="container p-5 my-5 col-xl-6 col">

		<h1 class="mb-4">S'inscrire</h1>

		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<div class="mb-4">
			{{ form_row(registrationForm.username) }}
		</div>

		<div class="mb-4">
			<label>{{ registrationForm.plainPassword.first.vars.label }}</label>
			{{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control my-2'}}) }}
		</div>

		<div class="mb-4">
			<label>{{ registrationForm.plainPassword.second.vars.label }}</label>
			{{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control my-2'}}) }}
		</div>

		<div class="mb-4">
			{{ form_row(registrationForm.agreeTerms) }}
		</div>

		<button type="submit" class="btn btn-primary">s'inscrire</button>
		{{ form_end(registrationForm) }}

	</div>
{% endblock %}
