{% set menus = menu_service.findAll %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			Blog -
			{% block title %}C'est moi qui régale
			{% endblock %}
		</title><link rel="icon" href="{{ asset('images/icon-cmqr.png') }}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<!-- Header -->
		<header role="banner">

			<div class="sticky-top">
				{% include "shared/_navbar_connexion.html.twig" %}
				<!-- Main Navbar -->
				{% if is_homepage is defined and is_homepage %}
					<nav
						class="navbar navbar-expand-lg bg-light d-flex align-items-center pb-2 pt-3 mainHeader" data-bs-theme="light">
						<!-- Container wrapper -->
						<div class="container d-lg-flex flex-lg-column">

							<h1>
								<a class="navbar-brand d-lg-none pb-0" href="{{ path('app_home') }}"><img src="{{ asset('images/logo-cmqr-variante.png') }}" alt="C'est moi qui régale" width="160"></a>
							</h1>
							<h1 id="logo">
								<a class="navbar-brand text-center d-none d-lg-block p-2 m-0" href="{{ path('app_home') }}"><img src="{{ asset('images/logo-cmqr.png') }}" alt="C'est moi qui régale" width="180"></a>
							</h1>

							<!-- Toggle button -->
							<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHome" aria-controls="navbarHome" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>

							<!-- Collapsible wrapper -->
							<div
								class="collapse navbar-collapse justify-content-center align-items-center ps-5 pt-3" id="navbarHome">

								<!-- Links -->
								<ul class="navbar-nav">
									<li class="nav-item">
										<a class="nav-link" href="#">Accueil</a>
									</li>

									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recettes</a>

										<!-- Dropdown menu -->
										<div class="dropdown-menu mt-2">
											<div class="container-fluid">
												<div class="row">
													<div class="col-md-4 w-100">
														{% for articleCategory in articleCategories %}
															<a href="#" class="dropdown-item">
																{{ articleCategory.name }}</a>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>

									</li>

									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le Mag'</a>

										<!-- Dropdown menu -->
										<div class="dropdown-menu mt-2">
											<div class="container-fluid">
												<div class="row">
													<div class="col-md-4 w-100">
														{% for recipeCategory in recipeCategories %}
															<a href="#" class="dropdown-item">
																{{ recipeCategory.name }}</a>
														{% endfor %}
													</div>
												</div>
											</div>
										</div>

									</li>

									<li class="nav-item">
										<a class="nav-link" href="#">Trin'k</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">À propos</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Contact</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				{% endif %}
			</div>

		</header><!-- Header -->{% block body %}{% endblock %}
		<!-- Footer -->
		{% include "shared/_footer.html.twig" %}
		<!-- Footer -->
	</body>
</html></body></html>
