{% set article_show = path('article_show', { 'slug': article.slug }) %}

{% import 'macros/image_macros.html.twig' as imageMacros %}
{% include 'article/show.html.twig' with {'article': article} %}

<article
	class="col-md-4 px-md-2 px-0 py-0 position-relative">

	{# An "articleMedia" variable is defined to store the media associated with the current article. We use the article ID to search for this media in the "mediaForArticles" array. #}
	{% set articleMedia = mediaForArticles[article.getId()] %}

	{# We check if articleMedia and its filename are defined. #}
	{% if articleMedia is defined and articleMedia.filename is defined %}
		<a
			href="{{ path('article_show', {'slug': article.slug}) }}">
			{# If the conditions are true, a macro is used to display the image associated with the item.#}
			{{ imageMacros.display_image(articleMedia, 'Description de l\'image', 'img-fluid object-fit-cover') }}
        </a>
    {% else %}
        {# Debug: si articleMedia est indéfini ou filename est indéfini #}
        <img src="https://images.unsplash.com/photo-1556911073-52527ac43761?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80" alt="" class=" img-fluid object-fit-cover"  loading="lazy">
    {% endif %}

    <!-- Category Tags Container -->
    <div class="position-absolute top-0 start-0 m-3 d-flex flex-wrap">
        <!-- Individual Category Badges -->
        <a href="#"><span class="badge bg-warning me-1 mb-1">Catégorie 1</span></a>
        <a href="#"><span class="badge bg-warning me-1 mb-1">Catégorie 1</span></a>
        <a href="#"><span class="badge bg-warning me-1 mb-1">Catégorie 1</span></a>
        <!-- ... -->
    </div>
		
    <div class="bg-body-tertiary p-3">

        <h2 class="fs-4 pt-3">
            {{ article.title }}
        </h2>
        <p class="mb-0">{{ article.featuredText ?: first_article.content|striptags|slice(0, 120) ~'...' }}</p>
        <button type="button" class="text-warning text-decoration-underline p-0 btn" data-bs-toggle="modal" data-bs-target="#articleModal{{ article.id }}">Lire la suite</button>

        <!-- Post Meta -->
            <small class="post-meta text-primary pt-2 d-flex flex-wrap">
                {# Date #}
                <span class="post-meta-date">
                    <i class="fas fa-calendar-days"></i>
                    <span class="post-meta-date-text">{{ article.createdAt|date('d M Y') }}</span>
                </span>

                <span class="post-meta-separator px-1">|</span>

                {# Comment #}
                <span class="post-meta-comment">
                    <i class="fas fa-comment-dots"></i>
                    <span class="post-meta-comment-text">10</span>
                </span>
            </small>

	</div>
    
</article>
